.flex-options {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding: 60px 160px 60px;

    &-item {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        padding: 40px;
        background: #1C1C1E;
        border-radius: 16px;
        cursor: pointer;

        &__subtitle {
            margin: 0;
            padding: 0;
            @include font($wght, 18px, 18px, $clr_gry);
            margin-bottom: 20px;
        }
    
        &__title {
            margin: 0;
            padding: 0;
            @include font($wght, 32px, 32px, $clr_wht);
            margin-bottom: 40px;
        }
    
        &__text {
            margin: 0;
            padding: 0;
            @include font($wght, 32px, 40px, $clr_gry);
            margin-bottom: 40px;
        }
    
        &__cost {
            margin: 0;
            padding: 0;
            @include font($wght, 14px, 14px, $clr_grn);
     
        }
    }

    &-item:last-child {
        margin-left: 20px;
    }

    &-item:hover {
        transition: .8s;
        background: #232327;
    }   
}

@media screen and (max-width: $media_display_max) {
    .flex-options {
        flex-direction: column;
        padding: 60px;

        &-item:last-child {
            margin-left: 0;
            margin-top: 20px;
        }
    }
}

@media screen and (max-width: $media_display_min) {
    .flex-options {
        flex-direction: column;
        padding: 40px 20px 30px;

        &-item {
            padding: 20px;

            &__subtitle {
                margin-bottom: 10px;
            }
    
            &__title {
                @include font($wght, 24px, 32px, $clr_wht);
                margin-bottom: 28px;
            }
        
            &__text {
                @include font($wght, 12px, 18px, $clr_gry);
                margin-bottom: 100px;
            }
        
            &__cost {
                @include font($wght, 12px, 18px, $clr_grn);
            }
        }
    }
}