.header {
    display: flex;
    flex-direction: column;
    padding: 0 0 60px 160px;

    &__sub {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-left: 6px;
        margin-bottom: 60px;
    }

    &__title {
        margin: 0;
        padding: 0;
        @include font(normal, 112px, 112px, #fff);
        margin-bottom: 20px;
    }

    &__subtitle {
        margin: 0;
        padding: 0;
        @include font(normal, 80px, 70px, #fff);
        margin-bottom: 230px;
    }
}

.form {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    border: 0;

    &__line {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 335px;
        height: 24px;
        background: rgba(142, 142, 152, 0.2);
        border-radius: 8px 0px 0px 8px;
        border: 0;
        cursor: pointer;
        @include font(normal, 14px, 24px, #fff);
        letter-spacing: 0.375px;
        padding: 13px 0 13px 16px;
    }

    &__line:hover {
        transition: .8s;
        background: rgba(142, 142, 152, 0.3);
    }

    &__button {
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 221px;
        height: 50px;
        background: #47474C;
        border: 0;
        border-radius: 0px 8px 8px 0px;
        @include font(normal, 14px, 24px, #fff);
    }

    &__subtext {
        margin: 0;
        padding: 0;
        margin-top: 12px;
        @include font(normal, 12px, 18px, #47474C);
        margin-left: 10px;
    }
}

.brand-name {
    margin: 0;
    padding: 0;
    @include font(normal, 22px, 30px, #fff);
    display: flex;
    justify-self: center;
    align-self: center;
}

.greading {
    margin: 0;
    padding: 0;
    @include font(normal, 12px, 12px, #000);
    background: #25E197;
    border-radius: 4px;
    display: flex;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
    height: 20px;
    width: 99px;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1230px) {
    .header {
        padding: 0 0 0 100px;
    }
}

@media screen and (max-width: $media_display_max) {
    .header {
        padding: 0 60px 32px 60px;
    
        &__sub {
            margin-left: 0;
            margin-bottom: 70px;
        }
    
        &__title {
            @include font(normal, 70px, 90px, #fff);
            margin-bottom: 0;
        }
    
        &__subtitle {
            @include font(normal, 50px, 60px, #fff);
            margin-bottom: 470px;
        }
    }

    .header__form {
        max-width: 648px;
    }
    
    .form {
        &__line {
            max-width: 414px;
        }
    }
}

@media screen and (max-width: $media_display_min) {
    .header {
        padding: 0 20px 0 20px;
    
        &__sub {
            margin-bottom: 60px;
        }
    
        &__title {
            @include font(normal, 50px, 60px, #fff);
            margin-bottom: 10px;
        }
    
        &__subtitle {
            @include font(normal, 30px, 38px, #fff);
            margin-bottom: 260px;
        }
    }
    
    .form {
        &__line {
            width: 213px;
        }

        &__button {
            width: 51px;
            @include font(normal, 14px, 24px, #fff);
            text-align: center;
            font-size: 10px;
            line-height: 10px;
        }
    }

    .media {
        display: none;
    }

}