.page {
    background-color: #000;
    max-width: 1440px;
    min-width: 320px;
    padding: 60px 0 60px;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .page {
        padding: 24px 0 20px;
    }
}