.text {
    margin: 0;
    padding: 0;
    padding: 60px 160px 60px;

    &-subscription {
        margin: 0;
        padding: 0;
        @include font($wght, 32px, 40px, $clr_gry);
        margin-bottom: 60px;
    }

    &-sub {
        margin: 0;
        padding: 0;
        @include font($wght, 32px, 40px, $clr_wht);
    }
}
    
@media screen and (max-width: $media_display_max) {
    .text {
        padding: 60px 60px 60px;

        &-subscription {
            @include font($wght, 20px, 30px, $clr_gry);
        }
        
        &-sub {
            @include font($wght, 20px, 30px, $clr_wht);
        }
    }
}

@media screen and (max-width: $media_display_min) {
    .text {
        padding: 40px 20px 30px;

        &-subscription {
            @include font($wght, 12px, 18px, $clr_gry);
            margin-bottom: 20px;
        }
        
        &-sub {
            @include font($wght, 12px, 18px, $clr_wht);
        }
    }
}
